Exersises/.vs
Exersises/Debug
*.sln
Exersises/Exersises.vcxproj
Exersises/Exersises.vcxproj.filters
Exersises/Exersises.vcxproj.user
Exercises/.vs
Exercises/Debug
Exercises/Exersises.vcxproj
Exercises/Exersises.vcxproj.filters
Exercises/Exersises.vcxproj.user
